* {
    padding: 0;
    margin: 0;
    user-select: none;
}

/*BACKGROUND*/
body {
    background-image: url("../resources/dark-green-back.png");
    background-repeat: repeat-y;
    background-size: cover;
}

/*CANVAS*/
#ruleta {
    position: absolute;
    width: 70vw;
    height: 55vh;
    border: transparent;
    left: 15vw;
    top: 5vh;
    background-image: url("../resources/ruleta-casino-canvas.jpg");
    background-size: cover;
    background-position: center;
}


/*Fichas*/

#fichas {
    position: absolute;
    background: transparent;
    transform: translate(-50%, -50%);
    margin: auto;
    top: 80vh;
    width: 55vw;
    aspect-ratio: 4/1;
    left: 50vw;
}

.ficha {
    position: absolute;
    background: transparent;
    border: transparent;
    width: 11vw;
    aspect-ratio: 4/4;
    margin: 1.25vw 0;
    border-radius: 50%;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.14, -0.28, 0.37, 1.57);
    transition-property: width, margin;
    cursor: pointer;

}

.ficha:hover {
    position: absolute;
    width: 13vw;
    aspect-ratio: 4/4;
    margin-top: 0.25vw;
    margin-bottom: 0.25vw;

}

.ficha:active {
    position: absolute;
    width: 12vw;
    aspect-ratio: 4/4;
    transition: none;
    margin-top: 0.75vw;
    margin-bottom: 0.75vw;
}

.imgficha {
    width: 100%;
    height: 100%;
    border-radius: 47%;
    margin: auto;
    top: 0;
    bottom: 0;
}

.imgficha:hover {
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
}

.imgficha:active {
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
}

/*FICHA AZUL*/
#fichaazul {
    margin-left: 1.5vw;
}

#fichaazul:hover {
    margin-left: 0.5vw;

}

#fichaazul:active {
    margin-left: 1vw;

}

/*FICHA ROJA*/

#ficharoja {
    margin-left: 15vw;
}

#ficharoja:hover {
    margin-left: 14vw;
}

#ficharoja:active {
    margin-left: 14.5vw;
}

/*FICHA VERDE*/

#fichaverde {
    margin-left: 28.5vw;
}

#fichaverde:hover {
    margin-left: 27.5vw;
}

#fichaverde:active {
    margin-left: 28vw;
}

/*FICHA NEGRA*/

#fichanegra {
    margin-left: 42vw;
}

#fichanegra:hover {
    margin-left: 41vw;
}

#fichanegra:active {
    margin-left: 41.5vw;
}

#BackBtn {
    position: relative;
    margin-top: 2.25%;
    left: 2.75%;
    transform: translate(-50%, -50%);
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
            to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%
    );
}

.front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

button:hover {
    filter: brightness(110%);
}

button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

button:focus:not(:focus-visible) {
    outline: none;
}

